language: go

go:
  - 1.4
  - 1.5
  - 1.6
  - tip

install:
  - go get github.com/op/go-logging
  - go get gopkg.in/yaml.v2
  - go get github.com/jinzhu/gorm
  - go get github.com/mattn/go-sqlite3
  - go get github.com/go-sql-driver/mysql
  - go get github.com/lib/pq
  - go get github.com/go-macaron/cache
  - go get github.com/valyala/fasthttp
  - go build ../lily

script: go test ../lily -v

