language: go

env:
  - GO15VENDOREXPERIMENT=1

go:
  - 1.5
  - 1.6
  - 1.7
  - tip

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get -qq update
  - sudo apt-get -qq install glide -y

install:
  - glide install lily

script:
  - go test github.com/joaonrb/lily -v -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
